.button {
  /* VARIANTES */
  &.-secondary {
    --button-bg-color: var(--color-secondary);
    --button-border-color: var(--color-secondary);
    --button-color: var(--color-text-light);

    &:hover {
      --button-bg-color: transparent;
      --button-color: var(--color-secondary);
    }
  }

  &.-danger {
    --button-bg-color: var(--color-danger);
    --button-border-color: var(--color-danger);
    --button-color: #fff;

    &:hover {
      --button-bg-color: transparent;
      --button-color: var(--color-danger);
    }
  }

  &.-ghost {
    --button-bg-color: transparent;
    --button-border-color: transparent;
    --button-color: var(--color-primary);

    &:hover {
      --button-bg-color: var(--color-primary);
      --button-color: #fff;
    }
  }

  /* FORMES */
  &.-rounded {
    border-radius: 50px;
  }

  &.-block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
